@media screen and (max-width: 1200px){
    .nav-link{
        text-align: center !important;
        line-height: 2.5em;
    }
    .nav-link:after{
        display: none;
    }
    #navbarNavDropdown {
        margin-right: 0;
    }
    .news-h2{
        font-size: 5vw;
    }
    .news-h2:before, .news-h2:after{
        width: 30%;
    }
}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 768px){
    #carouselSliderUTN{
        display: none;
    }
    .section-parralax{
        display: none;
    }
    .section-images{
        display: none;
    }
    .news .news-img-section{
    float: left;
    width: 45%;
    height: 155px;
    /* margin-top: 10px; */
    border-bottom: none;
    margin: 13px;
}
    .news .news-img-section >img {
        /* display: block; */
        /* margin: 0 auto; */
        /* width: 100%; */
        /* height: 100%; */
        /* object-fit: cover; */
        /* object-position: 50% 50%; */
        /* border-radius: 3px; */
    }
    .news span {
        display: inline-block;
        padding: 25px 0 15px 0px;
        font-size: 17px;
        color: rgba(242, 121, 0, 1);
        /* font-weight: bolder; */
    }
}
/* 576px */